<h1 class="titulo-principal-main">Eventos</h1>
                    <div id="calendario">
                        <iframe id="iframe-calendario" class="calendario" src="https://calendar.google.com/calendar/embed?src=m6rd0ht7ldb590rim6c0oippfk%40group.calendar.google.com&ctz=America/Argentina/Buenos_Aires" style="border: 0" frameborder="0" scrolling="no"></iframe>
                    </div>  

                    <div id="contenedor-eventos">
                        <!-- agregar el link leer mas y tenerlo en cuenta para la interfaz de admin-->
                        <div id="evento1" class="evento flota-izquierda">
                            <img src="img/img-eventos/img-expo.jpg" alt="Expo"/>
                            <div class="contenido">
                                <h2>Titulo del evento numero1</h2>
                                <h3>Fecha 12/03/17</h3>
                                <p>
                                    Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. Nunc congue mi accumsan, pretium ante sed, euismod odio. Suspendisse placerat cursus laoreet. In viverra mattis varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vitae justo semper, interdum sem quis, maximus erat. Sed malesuada tristique velit id pellentesque. In lorem ligula, congue in tellus sed, egestas laoreet nibh.
                                </p>
                            </div>
                        </div>
                        
                        <div id="evento2" class="evento flota-derecha">
                                <img src="img/img-eventos/img-recital.jpg" alt="Recital"/>
                                <div class="contenido">
                                    <h2>Titulo del evento numero2</h2>
                                    <h3>Fecha 12/03/17</h3>
                                    <p>
                                        Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. Nunc congue mi accumsan, pretium ante sed, euismod odio. Suspendisse placerat cursus laoreet. In viverra mattis varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vitae justo semper, interdum sem quis, maximus erat. Sed malesuada tristique velit id pellentesque. In lorem ligula, congue in tellus sed, egestas laoreet nibh.
                                    </p>
                                </div>
                        </div>

                        <div id="evento3" class="evento flota-izquierda">
                                <img src="img/img-eventos/img-torneo.jpg" alt="Torneo"/>
                                <div class="contenido">
                                    <h2>Titulo del evento numero3</h2>
                                    <h3>Fecha 12/03/17</h3>
                                    <p>
                                        Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. Nunc congue mi accumsan, pretium ante sed, euismod odio. Suspendisse placerat cursus laoreet. In viverra mattis varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vitae justo semper, interdum sem quis, maximus erat. Sed malesuada tristique velit id pellentesque. In lorem ligula, congue in tellus sed, egestas laoreet nibh.
                                    </p>
                                </div>
                            </div>

                        <div id="evento4" class="evento flota-derecha">
                                <img src="img/img-eventos/img-colectividades.jpg" alt="Colectividades"/>
                                <div class="contenido">
                                    <h2>Titulo del evento numero4</h2>
                                    <h3>Fecha 12/03/17</h3>
                                    <p>
                                        Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. Nunc congue mi accumsan, pretium ante sed, euismod odio. Suspendisse placerat cursus laoreet. In viverra mattis varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vitae justo semper, interdum sem quis, maximus erat. Sed malesuada tristique velit id pellentesque. In lorem ligula, congue in tellus sed, egestas laoreet nibh.
                                    </p>
                                </div>
                        </div>

                        <div id="evento5" class="evento flota-izquierda">
                            <img src="img/img-eventos/img-peña.jpg" alt="Peña"/>
                            <div class="contenido">
                                <h2>Titulo del evento numero5</h2>
                                <h3>Fecha 12/03/17</h3>
                                <p>
                                    Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. Nunc congue mi accumsan, pretium ante sed, euismod odio. Suspendisse placerat cursus laoreet. In viverra mattis varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vitae justo semper, interdum sem quis, maximus erat. Sed malesuada tristique velit id pellentesque. In lorem ligula, congue in tellus sed, egestas laoreet nibh.
                                </p>
                            </div>
                        </div>

                        <div id="evento6" class="evento flota-derecha">
                            <img src="img/img-eventos/img-ajedrez.jpg" alt="Ajedrez"/>
                            <div class="contenido">
                                <h2>Titulo del evento numero6</h2>
                                <h3>Fecha 12/03/17</h3>
                                <p>
                                    Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. Nunc congue mi accumsan, pretium ante sed, euismod odio. Suspendisse placerat cursus laoreet. In viverra mattis varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vitae justo semper, interdum sem quis, maximus erat. Sed malesuada tristique velit id pellentesque. In lorem ligula, congue in tellus sed, egestas laoreet nibh.
                                </p>
                            </div>
                        </div>
                           
                    </div>