
<h2 class="contenedor-h2 h2-subline">Partidos:</h2>
            <div id="contenedor-fechas-deportes">

                    <div class="contenedor-botones-general"> 
                            <button class="boton-categoria boton-izquierda" onclick="pasarDeporte(-1)">&#10094;</button>
                            <button class="boton-categoria boton-derecha" onclick="pasarDeporte(+1)">&#10095;</button>
                            <div class="deporte">Basquet</div>
                    </div>  

                    <div class="contenedor-fechas">
                        

                        <div class="contenedor-botones-categorias"> 
                            <button class="boton-categoria boton-izquierda" onclick="pasarDeporte(-1)">&#10094;</button>
                            <button class="boton-categoria boton-derecha" onclick="pasarDeporte(+1)">&#10095;</button>
                            <div class="categoria-estilo">Primera Division</div>
                        </div>    

                        <div class="contenedor-info-categoria">  
                            <div class="contenedor-equipos margen2" >
                                <div class="fase-estilo margen2">Primera Vuelta</div>
                                <div class="equipo equipo-a">
                                    Club Deportivo Defensores de Hurlingham
                                </div>
                                    <span class="versus">Vs</span>
                                <div class="equipo equipo-b">
                                        Club Social y Deportivo Alem
                                </div>
                            </div>
                                <div class="local-visitante margen2">Local</div>
                                <div class="fecha margen2">12/04/17</div>
                                <div class="horario margen2">21:05hs</div>
                        </div>
                    </div>
</div>

<h2 class="contenedor-h2 h2-subline">Eventos:</h2>
<div id="slide-eventos">

                        <div id="evento1" class="contenedor-eventos">
                                <img src="img/img-eventos/img-peña.jpg" alt="Peña Folklorica" class="img-slide-eventos"/> 
                                <div class="evento-descripcion">Peña Folklorica del 25 de Mayo - 27/09/18</div> 
                        </div>

                        <div id="evento2" class="contenedor-eventos">
                                <img src="img/img-eventos/img-ajedrez.jpg" alt="Torneo de Ajedrez" class="img-slide-eventos"/>
                                <div class="evento-descripcion">Peña Folklorica del 25 de Mayo - 27/09/18</div> 
                        </div>

                        <div id="evento3" class="contenedor-eventos">
                                <img src="img/img-eventos/img-recital.jpg" alt="Recital" class="img-slide-eventos"/>
                                <div class="evento-descripcion">Peña Folklorica del 25 de Mayo - 27/09/18</div> 
                        </div>

                        <div id="evento4" class="contenedor-eventos">
                                <img src="img/img-eventos/img-colectividades.jpg" alt="Feria de las Colectividades" class="img-slide-eventos"/>
                                <div class="evento-descripcion">Peña Folklorica del 25 de Mayo - 27/09/18</div> 
                        </div>

                        <div id="evento5" class="contenedor-eventos">
                                <img src="img/img-eventos/img-torneo.jpg" alt="Torneo de Futbol" class="img-slide-eventos"/>
                                <div class="evento-descripcion">Peña Folklorica del 25 de Mayo - 27/09/18</div> 
                        </div>

                        <div id="evento6" class="contenedor-eventos">
                            <img src="img/img-eventos/img-expo.jpg" alt="Exposicion de Artes Marciales" class="img-slide-eventos"/>
                            <div class="evento-descripcion">Peña Folklorica del 25 de Mayo - 27/09/18</div> 
                        </div>
                        <div id="contenedor-botones-slide-eventos">
                                <button id="botton-slide-izquierda" class="stilo-botton-slide-eventos" onclick="pasarDivsEventos(-1)">&#10094;</button>
                                <button id="botton-slide-derecha" class="stilo-botton-slide-eventos" onclick="pasarDivsEventos(1)">&#10095;</button>
                        </div>
                    </div>

                    <br/>

                    <!-- agregar el boton o link ver mas noticias que lleve a la seccion de noticias -->
                    <h2 class="contenedor-h2 h2-subline">Institucional:</h2>
                    <div id="contenedor-noticias">
                    <div id="noticia1" class="noticia">
                        <img class="img-noticia" src="img/img-institucional/img-taekwondo.jpg" alt="Expo"/>
                        <div >
                            <h2>Titulo de la noticia1</h2>
                            <h3>12/04/17</h3>
                            <p>
                                Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. Nunc congue mi accumsan
                                <span class="leer-mas"><a href="noticia1.html">Leer mas</a></span>
                            </p>
                        </div>
                    </div>
                    <div id="noticia2" class="noticia">
                            <img class="img-noticia" src="img/img-institucional/img-coloña.jpg" alt="Recital"/>
                            <div>
                                <h2>Titulo de la noticia2</h2>
                                <h3>12/04/17</h3>
                                <p>
                                    Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis
                                    <span class="leer-mas"><a href="noticia1.html">Leer mas</a></span>
                                </p>
                            </div>
                    </div>

                    <div id="noticia3" class="noticia">
                            <img class="img-noticia" src="img/img-institucional/img-obra.jpg" alt="Torneo"/>
                            <div>
                                <h2>Titulo de la noticia3</h2>
                                <h3>12/04/17</h3>
                                <p>
                                    Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices. 
                                    <span class="leer-mas"><a href="noticia1.html">Leer mas</a></span>
                                </p>
                            </div>
                        </div>

                    <div id="noticia4" class="noticia">
                            <img class="img-noticia"  src="img/img-institucional/img-sanchez.jpg" alt="Colectividades"/>
                            <div>
                                <h2>Titulo de la noticia4</h2>
                                <h3>12/04/17</h3>
                                <p>
                                    Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices.
                                    <span class="leer-mas"><a href="noticia1.html">Leer mas</a></span>
                                </p>
                            </div>
                    </div>

                    <div id="noticia5" class="noticia">
                        <img class="img-noticia" src="img/img-institucional/img-pileta.jpg" alt="Peña"/>
                        <div>
                            <h2>Titulo de la noticia5</h2>
                            <h3>12/04/17</h3>
                            <p>
                                Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia,an
                                <span class="leer-mas"><a href="noticia1.html">Leer mas</a></span>
                            </p>
                        </div>
                    </div>

                    <div id="noticia6" class="noticia">
                        <img class="img-noticia" src="img/img-institucional/img-voley.jpg" alt="Ajedrez"/>
                        <div>
                            <h2>Titulo de la noticia6</h2>
                            <h3>12/04/17</h3>
                            <p>
                                Proin egestas tempor mauris vitae porta. Sed fringilla libero a porta tincidunt. In pulvinar felis eget erat bibendum pretium. Fusce dictum quam hendrerit nibh lacinia, sit amet venenatis libero ultrices.
                                <span class="leer-mas"><a href="noticia1.html">Leer mas</a></span>
                            </p>
                        </div>
                    </div>
                                                        
                                
                                                            
</div>
                  